<%- include('../partials/header') %>

<div class="center-container">
    <div class="title-container">
        <h3>Edit List</h3>
    </div>

    <% if (user._id.equals(list.owner._id)) { %>
        <form action="/lists/<%= list._id %>/edit" method="POST" class="input-form">
            <div class="form-group">
                <label for="listName">List Name:</label>
                <input type="text" id="listName" name="listName" value="<%= list.title %>">
            </div>

            <button type="submit" class="button">Update</button>
        </form>
    <% } %>

    <div class="title-container">
        <h3>Shared List</h3>
    </div>
    
    <table class="shared-users-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% const owner = list.owner; %>
            <tr>
                <td><img src="<%= owner.avatar %>" alt="Avi" class="icon"></td>
                <td class="name"><%= owner.name %></td>
                <td><%= owner.email %></td>
                <td class="role owner">Owner</td>
                <td>
                    <!-- <form action="?_method=PUT" method="POST" onsubmit="return confirm('Are you sure you want to change ownership?')">
                        <button type="submit" class="button delete-button">Change</button>
                    </form> -->
                </td>
            </tr>
            <% list.sharedList.forEach(function(sharedUser) { %>
                <tr>
                    <td><img src="<%= sharedUser.avatar %>" alt="Avi" class="icon"></td>
                    <td class="name"><%= sharedUser.name %></td>
                    <td><%= sharedUser.email %></td>
                    <td class="role collaborator">Collaborator</td>
                    <td>
                        <form action="/lists/<%= list._id %>/shared/<%= sharedUser._id %>?_method=DELETE" method="POST" onsubmit="return confirm('Are you sure you want to remove this shared user?')">
                            <button type="submit" class="button delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div class="title-container">
        <a href="/contacts" class="button">Add Collaberator</a>
    </div>

</div>

<%- include('../partials/footer') %>
