<%- include('../partials/header') %>

<div class="center-container">
    <div class="title-container">
        <h3>Edit List</h3>
    </div>

    <% if (user._id === list.owner._id) { %>
        <form action="/lists/<%= list._id %>/edit" method="POST" class="input-form">
            <div class="form-group">
                <label for="listName">List Name:</label>
                <input type="text" id="listName" name="listName" value="<%= list.title %>">
            </div>
            
            <div class="form-group">
                <label for="sharedUsers">Shared Users:</label>
                <ul>
                    <% list.sharedList.forEach(function(user) { %>
                        <li>
                            <input type="checkbox" id="user_<%= user._id %>" name="sharedUsers" value="<%= user._id %>" checked>
                            <label for="user_<%= user._id %>"><%= user.name %></label>
                        </li>
                    <% }); %>
                </ul>
            </div>
            
            <button type="submit" class="button">Update List</button>
        </form>
    <% } else { %>
        <p>You don't have permission to edit this list.</p>
    <% } %>
</div>

<%- include('../partials/footer') %>
