<%- include('../partials/header') %>

<div class="center-container">
    <div class="title-container">
        <h3>My Lists</h3>
        <a href="/lists/new" class="button add-button">Create List</a>
    </div>
    <div class="list-container">
        <% if (lists.length > 0) { %>
            <% lists.forEach(function(list) { %>
                <div class="list">
                    <a href="/lists/<%= list._id %>">
                        <h4><%= list.title %></h4>
                    </a>
                    <p class="created">Created: <%= list.createdAt.toDateString() %></p>
                    <img src="<%= list.owner.avatar %>" alt="Owner Avatar" class="avatar">
                    <span class="owner-name"><%= list.owner.name %></span>
                    <form action="/lists/<%= list._id %>?_method=DELETE" class="delete-form" method="POST" onsubmit="return confirm('Are you sure you want to delete?')">
                        <button class="delete-list-button" type="submit">Delete</button>
                    </form>
                </div>
            <% }) %>
        <% } else { %>
            <p>You have no lists yet.</p>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>

