<%- include('../partials/header') %>

<div class="center-container">
    
    <div class="title-container">
        <h3><%= list.title %></h3>
        <a href="/items" class="button title-button">Add Items</a>
        <a href="" class="button title-button">Options</a>
    </div>

    <% if (list.itemsList.length > 0) { %>
        <table class="items-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% list.itemsList.forEach(function(item) { %>
                    <tr>
                        <td>
                            <% if (item.icon) { %>
                                <img src="<%= item.icon %>" alt="Item Icon" class="icon">
                            <% } %>
                        </td>
                        <td><%= item.name %></td>
                        <td><%= item.category ? item.category : 'N/A' %></td>
                        <td><%= item.price ? item.price : 'N/A' %></td>
                        <td>
                            <a href="/lists/<%= list._id %>/<%= item._id %>/delete" class="button">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>Add your first item to the list.</p>
    <% } %>
    

    <div class="title-container">
        <h3>Shared List</h3>
        <a href="/contacts" class="button title-button">Share</a>
    </div>
    
    <table class="shared-users-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <% const owner = list.owner; %>
            <tr>
                <td><img src="<%= owner.avatar %>" alt="Avi" class="icon"></td>
                <td class="name"><%= owner.name %></td>
                <td><%= owner.email %></td>
                <td class="role owner">Owner</td>
            </tr>
            <% if (list.sharedList.length > 0) { %>
                <% list.sharedList.forEach(function(userId) { %>
                    <% if (userId !== list.owner) { %>
                        <% const user = sharedUsers[userId]; %>
                        <tr>
                            <td><img src="<%= user.avatar %>" alt="Avi" class="icon"></td>
                            <td class="name"><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td class="role collaborator">Collaborator</td>
                        </tr>
                    <% } %>
                <% }); %>
            <% } %>
        </tbody>
    </table>
    
    

</div>

<%- include('../partials/footer') %>
