<%- include('../partials/header') %>

<div class="center-container">
    <div class="title-container">
        <h3>Add Item</h3>
    </div>
    <p>Which list do you want to add "<strong><%= item.name %></strong>" to?</p>

    <form action="/items/<%= item.id %>/add" method="POST" class="input-form">
        <div class="form-group">
            <label for="list">Select List:</label>
            <select id="list" name="list">
                <% lists.forEach(function(list) { %>
                    <option value="<%= list._id %>"><%= list.title %></option>
                <% }); %>
            </select>
        </div>

        <button type="submit" class="button">Add</button>
    </form>
</div>

<%- include('../partials/footer') %>
