<%- include('../partials/header') %>

<div class="center-container">
    <div class="title-container">
        <h3>Items Database</h3>
        <a href="/items/new" class="button add-button">Create Item</a>
    </div>

    <table class="items-table">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% items.forEach(function(item) { %>
                <tr>
                    <td><%= item.icon %></td>
                    <td><%= item.name %></td>
                    <td><%= item.category ? item.category : 'N/A' %></td>
                    <td><%= item.price ? item.price : 'N/A' %></td>
                    <td>
                        <% if (user) { %>
                            <a href="/items/<%= item._id %>/options" class="button">Edit</a>
                            <a href="/items/<%= item._id %>/add" class="button">Add to List</a>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>
